/*ヘッダー*/
.main-header
  .main-header__inner
    .main-header__inner__main
      %h1.main-header__inner__main__icon
        =link_to image_tag("logo.png", width: "140"), root_path
      .main-header__inner__main__searchbox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input#searchInput.searchbox--input{:name => "key", :placeholder => "キーワードから探す"}
          %button{:type => "submit"}
            .main-header__inner__main__searchbox__icon
              =link_to image_tag("icon-search 1.png", height: "17")
    .main-header__inner__nav
      %ul.category-wrap
      %ul.main-header__inner__nav__listright
        - if user_signed_in?
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規商品登録", new_item_path
          %li.main-header__inner__nav__listright__item.listright__item--mypage
            = link_to "マイページ", user_path(current_user)
        - else
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログイン", new_user_session_path
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規会員登録", new_user_registration_path

.mypage-main
  .mypage-main__left
    = render "users/options"
  .mypage-main__right
    .mypage-main__right__title 
      %h1 会員情報の更新
    .mypage-main__right__main__registration
      .register-form
        = form_with(model: @user, url: user_registration_path,local: true) do |f|
          .field
            .field__label
              = f.label :ニックネーム
              %span.form-require 必須
            .field__input
              = f.text_field :nickname, autofocus: true
          .field
            .field__label
              = f.label :メールアドレス
              %span.form-require 必須
            .field__input
              = f.email_field :email
          .field
            .field__label
              = f.label :パスワード
              %i (英数字7文字以上)
              %span.form-require 必須
            .field__input
              = f.password_field :password, autocomplete: "off"
          .field
            .field__label
              = f.label :パスワード
              %i (確認)
              %span.form-require 必須
            .field__input
              = f.password_field :password, autocomplete: "off"
          .field
            .field__label
              = f.label :現在のパスワード
              %i (登録しているパスワード)
              %span.form-require 必須
            .field__input
              = f.password_field :current_password, autocomplete: "current-password"
          .field
            .field__label
              = f.label :お名前
              (全角)
              %span.form-require 必須
            .field__input
              .field__input__half
                = f.text_field :family_name
              .field__input__half
                = f.text_field :first_name
          .field
            .field__label
              = f.label :お名前カナ
              (全角)
              %span.form-require 必須
            .field__input
              .field__input__half
                = f.text_field :family_name_kana
              .field__input__half
                = f.text_field :first_name_kana
          .field
            .field__label
              = f.label :生年月日
              %span.form-require 必須
            .field__input
            != sprintf(f.date_select(:birth_day, prefix:'user',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

          .actions
            = f.submit "更新する", class: 'btn'

= render "layouts/footer"


-# 初期情報
-# <h2>Edit <%= resource_name.to_s.humanize %></h2>

-# <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
-#   <%= render "devise/shared/error_messages", resource: resource %>

-#   <div class="field">
-#     <%= f.label :email %><br />
-#     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#   </div>

-#   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
-#     <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
-#   <% end %>

-#   <div class="field">
-#     <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
-#     <%= f.password_field :password, autocomplete: "new-password" %>
-#     <% if @minimum_password_length %>
-#       <br />
-#       <em><%= @minimum_password_length %> characters minimum</em>
-#     <% end %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :password_confirmation %><br />
-#     <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
-#     <%= f.password_field :current_password, autocomplete: "current-password" %>
-#   </div>

-#   <div class="actions">
-#     <%= f.submit "Update" %>
-#   </div>
-# <% end %>

-# <h3>Cancel my account</h3>

-# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

-# <%= link_to "Back", :back %>