.header
  %h1.header__headerimage
    = link_to (image_tag src="logo.png", size: "300x81", class:"header__headerimage__logoimage"), items_path

.purc-main
  .singlemain
    %h2.buyhead 購入内容の確認
    .buycontent
      .buycontent__innner
        .buycontent__innner__itembox
          %h3.buycontent__innner__itembox__buyimage
            = image_tag @item.images[0].image.url, class: "postImage__itemimage", size: "100x120"
          .buycontent__innner__itembox__buytext
            %p.buycontent__innner__itembox__buytext__buyname
              =@item.name
            %p.buycontent__innner__itembox__buytext__buymoney
              ¥
              =@item.price
              （税込） 送料込み

    .total
      .total__totalinn
        .total__totalinn__totalbox
          %p.total__totalinn__totalbox__totaltext
            支払い金額
          %p.total__totalinn__totalbox__totalmoney
            ¥
            =@item.price

    .payment
      .payment__payinn
        .payment__payinn__paymentbox
          支払い方法
          .payment__payinn__paymentbox__paymentlink
            = link_to root_path, class: 'payment__payinn__paymentbox__paymentlink__paylinkicon' do
              = icon('fa', 'plus-circle')
              %span クレジットカード登録してください
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year

    .address
      .address__addressinn
        .address__addressinn__addressbox
          配送先
          .address__addressinn__addressbox__addresslink
            = link_to root_path, class: "address__addressinn__addressbox__addresslink__addlinkicon" do
              = icon('fa', 'plus-circle')
              配送先を登録してください
    .purcbtn
      -# = form_with url: root_path, method: :get do |f|
      -#   = f.submit '購入する', class: 'purcbtn__submitbtn'
      = form_tag(action: :buy, method: :post) do
        = hidden_field_tag :item, params[@item.id]
        %button 購入する

    -# .payfooter
    -#   %h1.payfooter__footerimage
    -#     = link_to (image_tag "logo-white", size: "140x60"), items_path