= render 'layouts/header'

.main
  .main__Visual
    .main-content
      %h1.main-content__title 人生を変えるフリマアプリ
      %p.main-content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .main-btn
        = link_to image_tag("download-on-app-store.png", class:"main-btn__A")
        = link_to image_tag("download-on-google.png", class:"main-btn__B")
  .main-introduction
    %h2.main-introduction__title FURIMAが選ばれる3つの理由
    %ul.main-introduction__lists
      %li.main-introduction__list
        = link_to image_tag("pict-reason-01.jpg", class:"main-introduction__list-img")
        %h1.main-introduction__list-number 1
        %h2.main-introduction__list-text
          %span 3分
          ですぐに出品
        %p.main-introduction__list-text1 スマホで入力するだけで簡単に出品できる！
      %li.main-introduction__list
        = link_to image_tag("pict-reason-02.jpg", class:"main-introduction__list-img")
        %h1.main-introduction__list-number 2
        %h2.main-introduction__list-text
          %span シンプル
          で使いやすい
        %p.main-introduction__list-text1 めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main-introduction__list
        = link_to image_tag("pict-reason-03.jpg", class:"main-introduction__list-img")
        %h1.main-introduction__list-number 3
        %h2.main-introduction__list-text
          手数料
          %span 業界最安
        %p.main-introduction__list-text2 最大3%でお得に出品&amp;購入！
  .middle
    .middle__img
      .middle-content
        %h1.middle-content__title 会員数日本一位
        %p.middle-content__text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          欲しかったあの商品にであるかもしれません。
        .middle-btn
          = link_to image_tag("download-on-app-store.png", class:"main-btn__A")
          = link_to image_tag("download-on-google.png", class:"main-btn__B")
  .main-introduction
    %h2.main-introduction__title FURIMAの特徴
    %ul.main-introduction__lists
      %li.main-introduction__list
        = link_to image_tag("icon-01.png", class:"main-introduction__list-img2")
        %h2.main-introduction__list-text3
          簡単に売り買いできる
        %p.main-introduction__list-text4 スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.main-introduction__list
        = link_to image_tag("icon-03.png", class:"main-introduction__list-img2")
        %h2.main-introduction__list-text3
          売上金は即日振込みに対応
        %p.main-introduction__list-text4 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.main-introduction__list
        = link_to image_tag("icon-04.png", class:"main-introduction__list-img2")
        %h2.main-introduction__list-text3
          様々な支払いに対応
        %p.main-introduction__list-text4 お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .product
    %h1.product__head ピックアップアイテム
    .product__body
      %h2.product__body__body-title 新着アイテム
      .product__body__lists
        = render partial: "item", locals: {images: @items}

  .product
    %h1.product__head ピックアップカテゴリー
    - if @womencategory.exists?
      .product__body
        %h2.product__body__body-title レディース新着アイテム
        .product__body__lists
          = render partial: "women", locals: {images: @items}
    - if @mencategory.exists?          
      .product__body
        %h2.product__body__body-title メンズ新着アイテム
        .product__body__lists
          = render partial: "men", locals: {images: @items}
    - if @baby.exists?              
      .product__body
        %h2.product__body__body-title ベビー・キッズ新着アイテム
        .product__body__lists
          = render partial: "baby", locals: {images: @items}
    - if @interia.exists?          
      .product__body
        %h2.product__body__body-title インテリア・住まい・小物新着アイテム
        .product__body__lists
          = render partial: "interia", locals: {images: @items}
    - if @entertainment.exists?
      .product__body
        %h2.product__body__body-title 本・音楽・ゲームアイテム新着アイテム
        .product__body__lists
          = render partial: "entertainment", locals: {images: @items}
    - if @hobby.exists?
      .product__body
        %h2.product__body__body-title おもちゃ・ホビー・グッズ新着アイテム
        .product__body__lists
          = render partial: "hobby", locals: {images: @items}
    - if @beauty.exists?
      .product__body
        %h2.product__body__body-title コスメ・香水・美容新着アイテム
        .product__body__lists
          = render partial: "beauty", locals: {images: @items}
    - if @phone.exists?          
      .product__body
        %h2.product__body__body-title 家電・スマホ・カメラ新着アイテム
        .product__body__lists
          = render partial: "phone", locals: {images: @items}
    - if @sports.exists?
      .product__body
        %h2.product__body__body-title スポーツ・レジャー新着アイテム
        .product__body__lists
          = render partial: "sports", locals: {images: @items}
    - if @handmaid.exists?          
      .product__body
        %h2.product__body__body-title ハンドメイド新着アイテム
        .product__body__lists
          = render partial: "handmaid", locals: {images: @items}
    - if @tickt.exists?              
      .product__body
        %h2.product__body__body-title チケット新着アイテム
        .product__body__lists
          = render partial: "tickt", locals: {images: @items}
    - if @car.exists?                
      .product__body
        %h2.product__body__body-title 自動車・オートバイ新着アイテム
        .product__body__lists
          = render partial: "car", locals: {images: @items}
    - if @other.exists?               
      .product__body
        %h2.product__body__body-title その他新着アイテム
        .product__body__lists
          = render partial: "other", locals: {images: @items}
  .banner
    .banner__img
      .banner-content
        %h1.banner-content__title だれでもかんたん、人生を変えるフリマアプリ
        %p.banner-content__text
          今すぐダウンロード！
        .banner-btn
          = link_to image_tag("download-on-app-store.png", class:"main-btn__A")
          = link_to image_tag("download-on-google.png", class:"main-btn__B")


/*出品ボタン*/
-# %a{:href => "#"}
.purchase-btn
  %span.purchase-btn__text 出品する
  =link_to image_tag("icon_camera.png", class:"purchase-btn__icon"),new_item_path

= render 'layouts/footer'

