.header
  = link_to image_tag("logo.png", class:"header__logo"), "/"
.main
  .showmain
    .contentLeft
    .contentRight
      .topcontent
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body
            %ul.itemBox__body__image
              - @item.images.first(1).each do |image|
                %li.itemBox__body__image__mainimage
                  = image_tag image.image_url, size: "560x346"
            %ul.itemBox__body__image__mainimage__subimage
              - @item.images.each do |image|
                %li.itemBox__body__image__mainimage__subimage__subimagebody
                  = image_tag image.image_url, size: "130x100"
          .itemBox__price
            %span.itemBox__price__pricemain
              ¥
              = @item.price
            .itemBox__price__price-detail
              %span
                （税込み）
              %span
                送料込み
          .itemBox__itemDteil
            = @item.description
          .itemBox__table
            %table.itemBox__table--main-table
              %tbody
                %tr
                  %th.itemBox__table--main-table--tabletitle 出品者
                  %td.itemBox__table--main-table--tableinfo
                    = @item.seller.nickname
                %tr
                  %th.itemBox__table--main-table--tabletitle カテゴリー
                  %td.itemBox__table--main-table--tableinfo
                    = link_to item_path, class: "itemBox__table--main-table--tableinfo--tableinfotag" do
                      = @parent.name
                    %br
                    = link_to item_path, class: "itemBox__table--main-table--tableinfo--tableinfotag" do
                      = @child.name
                    %br
                    = link_to item_path, class: "itemBox__table--main-table--tableinfo--tableinfotag" do
                      = @grandchild.name
                %tr
                  %th.itemBox__table--main-table--tabletitle ブランド
                  %td.itemBox__table--main-table--tableinfo
                    = @item.brand.name
                %tr
                  %th.itemBox__table--main-table--tabletitle 商品の状態
                  %td.itemBox__table--main-table--tableinfo
                    = @item.status.name
                %tr
                  %th.itemBox__table--main-table--tabletitle 配送料の負担
                  %td.itemBox__table--main-table--tableinfo
                    = @item.cost.name
                %tr
                  %th.itemBox__table--main-table--tabletitle 発送元の地域
                  %td.itemBox__table--main-table--tableinfo
                    = @item.prefecture.name
                %tr
                  %th.itemBox__table--main-table--tabletitle 発送の目安
                  %td.itemBox__table--main-table--tableinfo
                    =@item.days.name
          - if user_signed_in?
            - if user_signed_in? && current_user.id == @item.seller_id
              = link_to "この商品を編集する", edit_item_path(@item), class: "itemBox__edit-btn"
              = link_to "この商品を削除する", item_path(@item.id), method: :delete, data: {confirm: "削除すると二度と復活できません、本当に削除しますか？"}, class: "itemBox__delete-btn"
            - elsif @item.buyer_id == nil
              = link_to "購入画面に進む", item_purchases_path(@item.id), class: "itemBox__next-btn" 
            - else
              %p.itemBox__next-btn
                SOLD OUT     
      %ul.links
        %li.links__left
          商品
          = link_to item_path, class: "links__left--leftpath" do
            = icon('fa', 'angle-left')
            %span
            前の商品
        %li.links__right
          = link_to item_path, class: "links__right--rightpath" do
            =icon('fa', 'angle-right')
            %span 後の商品
      .relatedItems
        = link_to "/" , class: "relatedItems__Itemsinfo" do
          トップページに戻る
