= render "layouts/header"
.mypage-main
  .mypage-main__left
    = render "users/options"
  .mypage-main__right
    .mypage-main__right__title 
      %h1 住所登録
    .container
      -# .header
      -#   = link_to image_tag("logo.png", class:"header__logo"), "/"
      .main
        %h1.registration 会員情報入力
        .register-form
          = form_with(model: @destination, local: true) do |form|
            .field
              .field__label
                = form.label :お名前
                (全角)
                %span.form-require 必須
              .field__input
                .field__input__half
                  = form.text_field :family_name
                .field__input__half
                  = form.text_field :first_name
            .field
              .field__label
                = form.label :お名前カナ
                (全角)
                %span.form-require 必須
              .field__input
                .field__input__half
                  = form.text_field :family_name_kana
                .field__input__half
                  = form.text_field :first_name_kana
            .field
              .field__label
                = form.label :郵便番号
                (ハイフン無し)
                %span.form-require 必須
              .field__input
                = form.text_field :post_code
            .field
              .field__label
                = form.label :都道府県
                %span.form-require 必須
              .field__input
                -# = form.text_field :prefecture
                = form.collection_select :prefecture_id, Prefecture.all, :id, :name
            .field
              .field__label
                = form.label :市町村
                %span.form-require 必須
              .field__input
                = form.text_field :city
            .field
              .field__label
                = form.label :その他住所
                %span.form-require 必須
              .field__input
                = form.text_field :address
            .field
              .field__label
                = form.label :建物
                %span.form-require 任意
              .field__input
                = form.text_field :building_name
            .field
              .field__label
                = form.label :電話番号"(ハイフン無し)"
                %span.form-require 任意
              .field__input
                = form.text_field :phone_number

            .actions
              = form.submit "住所登録", class: 'btn'

  -# .footer
  -#   = link_to image_tag("logo-white.png",class:"footer__logo"), "/"
= render "layouts/footer"



/重複しているため一時コメントアウト/
-# .header
-#   %h1.header__headerimage
-#     = link_to (image_tag src="logo.png", size: "300x81", class:"header__headerimage__logoimage"), items_path

-# .purc-main
-#   .singlemain
-#     %h2.buyhead 購入内容の確認
-#     .buycontent
-#       .buycontent__innner
-#         .buycontent__innner__itembox
-#           %h3.buycontent__innner__itembox__buyimage
-#             =image_tag src="apple.png", size: "100x120"
-#           .buycontent__innner__itembox__buytext
-#             %p.buycontent__innner__itembox__buytext__buyname
-#               秋冬 ツイード クロップパンツ
-#             %p.buycontent__innner__itembox__buytext__buymoney
-#               ¥1500 （税込） 送料込み

-#     .total
-#       .total__totalinn
-#         .total__totalinn__totalbox
-#           %p.total__totalinn__totalbox__totaltext
-#             支払い金額
-#           %p.total__totalinn__totalbox__totalmoney
-#             ¥1500

-#     .payment
-#       .payment__payinn
-#         .payment__payinn__paymentbox
-#           支払い方法
-#           .payment__payinn__paymentbox__paymentlink
-#             = link_to root_path, class: 'payment__payinn__paymentbox__paymentlink__paylinkicon' do
-#               = icon('fa', 'plus-circle')
-#               %span クレジットカード登録してください
              
-#     .address
-#       .address__addressinn
-#         .address__addressinn__addressbox
-#           配送先
-#           .address__addressinn__addressbox__addresslink
-#             = link_to root_path, class: "address__addressinn__addressbox__addresslink__addlinkicon" do
-#               = icon('fa', 'plus-circle')
-#               配送先を登録してください
    
-#     .purcbtn
-#       = form_with url: root_path, method: :get do |f|
-#         = f.submit '購入する', class: 'purcbtn__submitbtn'

-#     .payfooter
-#       %h1.payfooter__footerimage
-#         = link_to (image_tag src="logo-white", size: "140x60"), items_path