= render "layouts/header"
.mypage-main
  .mypage-main__left
    = render "users/options"
  .mypage-main__right
    .mypage-main__right__title 
      %h1 住所登録
    .mypage-main__right__main__destination
      .mypage-main__right__main__destination__form
        = form_with(model: @destination, local: true) do |form|
          .destination__field
            .destination__field__label
              = form.label :"お名前(全角)"
              %span.destination-require 必須
            .destination__field__input
              .destination__field__input__half
                = form.text_field :family_name, class: "destination-form"
              .destination__field__input__half
                = form.text_field :first_name, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :"お名前カナ(全角)"
              %span.destination-require 必須
            .destination__field__input
              .field__input__half
                = form.text_field :family_name_kana, class: "destination-form"
              .field__input__half
                = form.text_field :first_name_kana, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :"郵便番号(ハイフン無し)"
              %span.destination-require 必須
            .destination__field__input
              = form.text_field :post_code, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :都道府県
              %span.destination-require 必須
            .destination__field__input
              = form.collection_select :prefecture_id, Prefecture.all, :id, :name
          .destination__field
            .destination__field__label
              = form.label :市町村
              %span.destination-require 必須
            .destination__field__input
              = form.text_field :city, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :その他住所
              %span.destination-require 必須
            .destination__field__input
              = form.text_field :address, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :建物
              %span.destination-notrequire 任意
            .destination__field__input
              = form.text_field :building_name, class: "destination-form"
          .destination__field
            .destination__field__label
              = form.label :"電話番号(ハイフン無し)"
              %span.destination-notrequire 任意
            .destination__field__input
              = form.text_field :phone_number, class: "destination-form"
            .actions
              = form.submit "住所登録", class: 'destination-btn'
= render "layouts/footer"




/重複しているため一時コメントアウト/
-# .header
-#   %h1.header__headerimage
-#     = link_to (image_tag src="logo.png", size: "300x81", class:"header__headerimage__logoimage"), items_path

-# .purc-main
-#   .singlemain
-#     %h2.buyhead 購入内容の確認
-#     .buycontent
-#       .buycontent__innner
-#         .buycontent__innner__itembox
-#           %h3.buycontent__innner__itembox__buyimage
-#             =image_tag src="apple.png", size: "100x120"
-#           .buycontent__innner__itembox__buytext
-#             %p.buycontent__innner__itembox__buytext__buyname
-#               秋冬 ツイード クロップパンツ
-#             %p.buycontent__innner__itembox__buytext__buymoney
-#               ¥1500 （税込） 送料込み

-#     .total
-#       .total__totalinn
-#         .total__totalinn__totalbox
-#           %p.total__totalinn__totalbox__totaltext
-#             支払い金額
-#           %p.total__totalinn__totalbox__totalmoney
-#             ¥1500

-#     .payment
-#       .payment__payinn
-#         .payment__payinn__paymentbox
-#           支払い方法
-#           .payment__payinn__paymentbox__paymentlink
-#             = link_to root_path, class: 'payment__payinn__paymentbox__paymentlink__paylinkicon' do
-#               = icon('fa', 'plus-circle')
-#               %span クレジットカード登録してください
              
-#     .address
-#       .address__addressinn
-#         .address__addressinn__addressbox
-#           配送先
-#           .address__addressinn__addressbox__addresslink
-#             = link_to root_path, class: "address__addressinn__addressbox__addresslink__addlinkicon" do
-#               = icon('fa', 'plus-circle')
-#               配送先を登録してください
    
-#     .purcbtn
-#       = form_with url: root_path, method: :get do |f|
-#         = f.submit '購入する', class: 'purcbtn__submitbtn'

-#     .payfooter
-#       %h1.payfooter__footerimage
-#         = link_to (image_tag src="logo-white", size: "140x60"), items_path