/*ヘッダー*/
.main-header
  .main-header__inner
    .main-header__inner__main
      %h1.main-header__inner__main__icon
        =link_to image_tag("logo.png", width: "140")
      .main-header__inner__main__searchbox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input#searchInput.searchbox--input{:name => "key", :placeholder => "キーワードから探す"}
          %button{:type => "submit"}
            .main-header__inner__main__searchbox__icon
              =link_to image_tag("icon-search 1.png", height: "17")
    .main-header__inner__nav
      %ul.main-header__inner__nav__listleft
        %li.main-header__inner__nav__listleft__item.listleft__item--first
          = link_to "カテゴリー"
        %li.main-header__inner__nav__listleft__item
          = link_to "ブランド"
          %ul.brandsPulldown.displayNone
      %ul.main-header__inner__nav__listright
        - if user_signed_in?
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規商品登録", new_item_path
          %li.main-header__inner__nav__listright__item.listright__item--mypage
            = link_to "マイページ", user_path(current_user)
            = current_user.id
        - else
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログイン", new_user_session_path
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規会員登録", new_user_registration_path