/*ヘッダー*/
.main-header
  .main-header__inner
    .main-header__inner__main
      %h1.main-header__inner__main__icon
        =link_to image_tag("logo.png", width: "140"), root_path
      .main-header__inner__main__searchbox
        = form_with(url: search_items_path, local: true, method: :get, class: "form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchInput.searchbox--input"
          = button_tag type: 'submit', class: 'main-header__inner__main__searchbox__icon' do
            %i.fas.fa-search
    .main-header__inner__nav
      %ul.category-wrap
        %li.category
          %p.category-list-title カテゴリー
          %ul.parent-wrap
            - @parents.each do |parent|
              %li.parent
                = link_to "#{parent.name}", select_category_index_items_path(parent.id), class: "category__parent--name",id: "#{parent.id}"
                %ul.child-wrap
                  - parent.children.each do |child|
                    %li.child
                      = link_to "#{child.name}", select_category_index_items_path(child.id), class: "category__child--name",id: "#{child.id}"
                      %ul.grandchild-wrap
                        - child.children.each do |grandchild|
                          %li.grandchild
                            = link_to "#{grandchild.name}", select_category_index_items_path(grandchild.id), class: "category__grandchild--name",id: "#{grandchild.id}"
        .main-header__inner__nav__listleft__item
          = link_to "ブランド"
        %ul.brandsPulldown.displayNone
      %ul.main-header__inner__nav__listright
        - if user_signed_in?
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規商品登録", new_item_path
          %li.main-header__inner__nav__listright__item.listright__item--mypage
            = link_to "マイページ", user_path(current_user)
        - else
          %li.main-header__inner__nav__listright__item.listright__item--login
            = link_to "ログイン", new_user_session_path
          %li.main-header__inner__nav__listright__item.listright__item--new
            = link_to "新規会員登録", new_user_registration_path


    -# .main-header__inner__nav
    -#   %ul.main-header__inner__nav__listleft
    -#     %li.main-header__inner__nav__listleft__item.listleft__item--first
    -#       = link_to "カテゴリー"
    -#     %li.main-header__inner__nav__listleft__item
    -#       = link_to "ブランド"
    -#       %ul.brandsPulldown.displayNone
    -#   %ul.main-header__inner__nav__listright
    -#     - if user_signed_in?
    -#       %li.main-header__inner__nav__listright__item.listright__item--login
    -#         = link_to "ログアウト", destroy_user_session_path, method: :delete
    -#       %li.main-header__inner__nav__listright__item.listright__item--new
    -#         = link_to "新規商品登録", new_item_path
    -#       %li.main-header__inner__nav__listright__item.listright__item--mypage
    -#         = link_to "マイページ", user_path(current_user)
    -#     - else
    -#       %li.main-header__inner__nav__listright__item.listright__item--login
    -#         = link_to "ログイン", new_user_session_path
    -#       %li.main-header__inner__nav__listright__item.listright__item--new
    -#         = link_to "新規会員登録", new_user_registration_path